* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Blinker', sans-serif;
}

body {
    background-color: $body-bg;
}
//btn
.btn_darkBlue {
        background-color: $blueShock;
        color: white;
    &:hover {
        background-color: $blueDark;
        color: white;
    }
}

// stile link
a {
    color: $brandOrange;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
}
// stile ul
ul {
    list-style: none;
    a {
        text-decoration: none;
    }
}

// link arancioni

.orange-link {
    span {
        display: flex;
        align-items: center;
        i {
            font-size: 30px;
            margin-left: 5px;
        }
    }
    &:hover {
        color: $brandBlue;
    }

}
