* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Blinker', sans-serif;
}

body {
    background-color: $body-bg;
}
//btn
.btn_darkBlue {
    background-color: $blueShock;
    color: white;
    &:hover {
    background-color: $blueDark;
    color: white;
    }
}

//input

// hover

//font

// stile link
a:hover {
    cursor: pointer;
    text-decoration: none;
}
// stile ul
ul {
    list-style: none;
    a {
        text-decoration: none;
    }
}

// grandezza H
