
nav {
    height: 90px;
    background-color: $blueLogo;
    
    .navbar-brand {
    
        height: 90px;

        svg {
        height: 100%;
        }
    }


}

.jumbo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
    background-color: brown;
}

