#emilio {

    .fade-enter,
    .fade-leave-active {
    transition: opacity 0.1s
    }
    .fade-enter,
    .fade-leave-to {
        opacity: 0
    }

    .checkout {
        width: 100%;
        display: flex;
        padding: 20px;
        min-height: calc(100vh - 90px);
        .checkout_left, .checkout_right {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .checkout_braintree {
                width: 80%;
                height: 80%;
                padding: 30px;
                border-radius: 20px;
                background-color: white;
                overflow-y: auto;
                background-image: url('/image/delivery_boy.jpeg');
                background-position: top;
            }
            .cart_checkout {
                width: 90%;
                height: 90%;

                .cart {
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    border-radius: 20px;
                    text-align: center;
                    background-color: white;
                    overflow-y: auto;
                h2 {
                    font-size: 35px;
                }
                i {
                    margin-bottom: 30px;
                    font-size: 40px;
                }
                .order_plate {
                    width: 100%;
                    text-align: left;
                    ul {
                        display: flex;
                        justify-content: space-around;
                        line-height: 50px;
                        width: 100%;
                        height: 50px;
                        border-radius: 20px;
                        z-index: 1;
                    }
                    .plateAddRemove {
                        // text-align: left;
                        // position: relative;
                        #minus_checkout, #plus_checkout {
                            font-size: 25px;
                            // margin-right: 10px;
                        }&:hover {
                            cursor: pointer;
                        }
                    }
                    .plateName {
                        font-size: 20px;
                        text-transform: capitalize;
                        width: 50%;
                    }
                }
                    h4 {
                        border-radius: 20px;
                        margin-bottom: 20px;
                        font-size: 40px;
                    }
                }
            }
        }
    }

    input {
        text-align: center;
    }
    .pay {
        width: 100%;
        margin-bottom: 40px;
    }
    .amount {
        display: none;
    }


    @media all and (max-width: 1024px) {
        .checkout {
            flex-direction: column;
            .checkout_left, .checkout_right {
                width: 100%;
                display: flex;
                align-items: center;
            }
            .checkout_right {
                margin-top: 100px;
            }
        }
        .pay {
         margin-bottom: 100px;
        }

    }
    @media all and (max-width: 768px) {
        .checkout {
            .checkout_left, .checkout_right {
                .cart_checkout {
                    width: 100%;
                }
            }
        }
    }

    @media all and (max-width: 425px) {
        .plateAddRemove {
            #minus_checkout, #plus_checkout {
                font-size: 20px!important;
                // margin-right: 10px;
            }&:hover {
                cursor: pointer;
            }
        }
        .checkout_left {
            ul {
                line-height: 20px!important;
                height: 100px!important;
                flex-direction: column!important;
                align-items: center!important;
                justify-content: center;
                .plateName {
                    margin-top: 35px;
                    width: auto!important;
                }
            }
        }


    }

}


