#fortunato {
    .jumbo_box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 70vh;
        overflow: hidden;
<<<<<<< HEAD
        background: 
        radial-gradient(100% 100% at bottom, $superWhite 60%, $brandBlue  60%);

        .search_bar {
            justify-content: center;
            margin-top: 10%;
            width: 50%;
            height: 100px;
            text-align: center;

            input {
                outline: none;
                border-radius: 50px;
                padding-left: 50px;
            }

        }
    
        .jumbo_title {
            text-align: center;
            margin-bottom: 100px;
        }
    }

    main {
        background-color: $superWhite;

        .container {
            section {
                    display: flex;
                    justify-content: space-around;
                    flex: wrap;
                    height: 100%;
                    .card {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;                        
                        height: 300px;
                        width: calc(100% / 5);
                        background-color: $blueShock;
                        border-radius: 5px;
                        box-shadow: 0 0 3px #ccc;
                        transition: 0.2s;
                        margin-top: 30px;
                        &:hover {
                            margin-top: 10px;
                            transition: 0.2s;
                        }
                        .image-box {
                            height: 50%;
                            width: 100%;
                            img {
                                height: 100%;
                                width: 100%;
                           }
                        }
                    }
            }       
        }
    }
    
    
    
    
    // .main-menu {
    //     display: flex;
    //     justify-content: start;
    //     padding: 30px;
    //     position: relative;
    
    //     .cart {
    //         position: absolute;
    //         top: -20px;
    //         right: 30px;
    //         width: 300px;
    //         min-height: 100px;
    //         background-color: white;
    //         border: 1px solid black;
    //     }
    
    //     section {
    //         margin-top: 50px;
    //         width: 50%;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-around;
    //     }
    
    //     .chart {
    //         background-color: white;
    //         position: absolute;
    //         top: - 20px;
    //         right: 30px;
    //         height: calc(100% - 50px);
    //         width: 400px;
    //         border: 1px solid black;
    //     }
    
    // }
    
=======
        background:
        radial-gradient(100% 100% at bottom, transparent 60%, $brandBlue  60%);

    }




    .main-menu {
        display: flex;
        justify-content: start;
        padding: 30px;
        position: relative;

        .cart {
            position: absolute;
            top: -20px;
            right: 30px;
            width: 300px;
            min-height: 100px;
            background-color: white;
            border: 1px solid black;
        }

        section {
            margin-top: 50px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .chart {
            background-color: white;
            position: absolute;
            top: - 20px;
            right: 30px;
            height: calc(100% - 50px);
            width: 400px;
            border: 1px solid black;
        }

    }

>>>>>>> showEmilio2
}

