#fortunato {
    .jumbo_box {
        position: relative;
        height: 100vh;
        background-color: black;
        overflow: hidden;
        background:
        radial-gradient(100% 100% at bottom, transparent 60%, $brandBlue  60%);

    }




    .main-menu {
        display: flex;
        justify-content: start;
        padding: 30px;
        position: relative;

        .cart {
            position: absolute;
            top: -20px;
            right: 30px;
            width: 300px;
            min-height: 100px;
            background-color: white;
            border: 1px solid black;
        }

        section {
            margin-top: 50px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .chart {
            background-color: white;
            position: absolute;
            top: - 20px;
            right: 30px;
            height: calc(100% - 50px);
            width: 400px;
            border: 1px solid black;
        }

    }

}

