#emilio {

    .container {
        min-height: 500px;
    }
    .jumbo {
        height: 50vh;
        width: 100%;
        position: relative;
        img {
            width: 100%;
            height: 50vh;
            object-fit: cover;
        }
    }
    .restaurant {
        width: 50%;
        height: 35%;
        bottom: -20%;
        left: 10%;
        margin-bottom: 20px;
        position: absolute;
        h1 {
            font-size: 5vw;
        }
        i {
            position: absolute;
            right: 5%;
            bottom: 5%;
            font-size: 30px;
            color: #D64129;
        }
    }
    .main-menu {
        margin-top: 80px;
        position: relative;
        width: 100%;
        .cart {
            width: 30%;
            padding: 20px;
            border-radius: 20px;
            background-color: white;
            float: right;
            margin-right: 100px;
            position: -webkit-sticky;
            top: 10%;
            position: sticky;
            text-align: center;
            z-index: 999;
            h2 {
                text-align: center;
            }
            i {
                margin-bottom: 30px;
                font-size: 20px;
            }
            .order_plate {
                width: 100%;
                text-align: left;
                border-radius: 20px;
                padding: 15px;
                margin-bottom: 5px;
                height: 100px;
                li {
                    display: inline-block;
                }
                .plateName {
                   width: 100%;
                   overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    // -webkit-line-clamp: 2; /* number of lines to show */
                    // -webkit-box-orient: vertical;
                }
                .plateCounter {
                    width: 60px;
                }
                .platePrice {
                    float: right;
                }
                .plateAddRemove {
                    width: 100%;
                    height: 20px;
                    text-align: center;
                    #plus, #minus{
                        cursor: pointer;
                        color: #D64129;
                    }
                    #plus {
                        padding-right: 20px;
                    }
                }
            }
            h4 {
                margin-bottom: 20px;
                font-size: 40px;
            }
            .to_checkout {
                i{
                    font-size: 50px;
                    color: black!important;
                }
            }
            .delete {
                margin-top: 50px;
                cursor: pointer;
                color: #D64129;
            }
            // .to_checkout:hover {
            //     padding: 20px 50px;
            // }
        }
        .plate {
            width: 50%;
            height: 20%;
            padding: 20px;
            margin-left: 160px;
            margin-bottom: 20px;
            border-radius: 20px;
            display: flex;
            transition: transform .5s;
            background-color: white;
            &:hover {
                transform: scale(1.1);
            }
            .plate_photo {
                width: 30%;
                height: 100%;
                border-radius: 5px;
                img {
                    // width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    margin-right: 10px;
                    width: 150px;
                }
            }
            .plate_utility {
                width: 100%;
                height: 100%;
                // border: 1px solid black;
                .plate_info {
                    width: 100%;
                    height: 50%;
                    .plate_name {
                        float: left;
                        font-size: 30px;
                    }
                    .plate_price {
                        float: right;
                    }

                }
                .plate_description {
                    width: 100%;
                    height: 50%;
                    // border: 1px solid black;
                    padding: 5px;
                    overflow-y: auto;
                }
            }
            .plate_counter {
                width: 10%;
                height: 100%;
                // border: 1px solid black;
                padding: 20px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                transition: transform .2s;
                .plate_add, .plate_remove {
                    font-size: 30px;
                    color: #D64129;
                }
                .plate_remove:hover, .plate_add:hover {
                    cursor: pointer;
                    transform: scale(1.5);
                }
            }
        }
    }
    #trigger_cart_mobile {
        display: none;
        position: relative;
        #total_cart {
            font-size: 30px;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            background-color: tomato;
            border-radius: 50%;
            display: block;
            position: absolute;
            right: -5%;
            top: -5%;
        }
    }
    #desktopCartNoDesktop {
        display: none;
    }
    #text_plate {
        text-align: center;
        font-size: 50px;
        padding: 40px 35px;
    }
    // FLIP CARD
    .flip_card {
      @include flip_card;
    }
    .flip_card_inner {
      @include flip_card_inner;
    }
    .flip_card:hover .flip_card_inner {
      @include flip_card_hover_X;
    }
    .flip_card_front, .flip_card_back {
      @include flip_card_front_back;
      border-radius: 20px;
    }
    .flip_card_front {
      @include flip_card_front;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.9;
    }
    .flip_card_back {
      @include flip_card_back;
      background-color: white;
      padding: 10px;
      display: flex;
      align-items: flex-end;
      .title_description {
        width: 60%;
        height: 100%;
        padding: 20px;
        overflow-y: auto;
        transform: rotate(180deg);
      }
      .photo_description {
          width: 40%;
          height: 100%;
          transform: rotate(180deg);
          img {
              width: 100%;
              height: 100%;
              border-radius: 20px;
              object-fit: cover;
          }
        }

    }

    //   FLIP CARD
    .display_none {
        display: none;
    }
    @media all and (max-width: 1400px) {
        .plate {
            margin-left: 20px!important;
        }
    }
    @media all and (max-width: 1024px) and ( min-width: 768px) {

        .main-menu {
            .plate {
                padding: 20px;
                margin-bottom: 20px;
                margin-left: 15px;
            }
            .cart {
                .order_plate {
                    .plateName {
                        width: 150px;
                    }
                }
            }
        }

    }


    @media all and (max-width: 768px) {
        #trigger_cart_mobile {
        display: block;
        font-size: 50px;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 20px;
        background-color: white;
        margin-top: 40px!important;
    }
        .restaurant {
            left: 0%;
            width: 100%;
            height: 200px;
            h1 {
                font-size: 55px;
            }
        }
        .main-menu {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .cart {
                width: 100%;
                margin-right: 0px;
                position: relative;
                .plateAddRemove {
                    width: 100%;
                    height: 20px;
                    text-align: center;
                    #plus{
                        font-size: 50px;
                    }
                    #minus {
                        font-size: 50px;
                    }
                }
            }
            .plate {
                width: 100%;
                height: 400px;
                padding-left: 0px;
                position: relative;
                &:hover {
                    transform: unset;
                }
                .plate_photo {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    z-index: 10;
                    img {
                        width: 100%;
                        height: 50%;
                        border-radius: 20px;
                    }&:active {
                        display: none;
                    }
                }
                .plate_utility {
                    width: 100%;
                    height: 46%;
                    position: absolute;
                    left: 0%;
                    top: 61%;
                    text-align: center;
                    z-index: 2;
                    padding: 20px;
                    .plate_name {
                        font-size: 20px!important;
                    }
                    .plate_info {
                        height: 28%!important;
                    }
                }
                // &:active .plate_photo {
                //     display: none;
                // }
                // &:focus .plate_photo {
                //     display: none;
                // }
                // &:target .plate_photo {
                //    display: none;
                // }
                .plate_description{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    z-index: 2;
                }
                .plate_counter {
                    width: 100%;
                    height: 150px;
                    position: absolute;
                    left: 50%;
                    top: 40%;
                    transform: translate(-50%,-40%);
                    z-index: 99;
                    flex-direction: row;
                    align-items: center;
                    font-size: 50px;
                    .plate_add, .plate_remove {
                        font-size: 40px;
                        margin-top: 109px;
                    }
                    .plate_remove:hover, .plate_add:hover {
                        cursor: pointer;
                        font-size: 50px;
                    }
                }
            }
        }
        #text_plate {
             text-align: center;
        }
        #mobileCartNoMobile {
            display: none;
        }

    }
    @media all and (max-width: 425px) {
        .plate {
            margin-left: 0px!important;
        }

    }
}





