* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn_darkBlue {
  background-color: #2045E3;
  color: white;
}
.btn_darkBlue:hover {
  background-color: #0F33CA;
  color: white;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

nav {
  height: 90px;
  background-color: #131E52;
}
nav .navbar-brand {
  height: 90px;
}
nav .navbar-brand svg {
  height: 100%;
}

#navbarDropdown {
  color: #FF6E00;
}

main section {
  height: 300px;
  border: 1px solid black;
}

footer {
  height: 400px;
  background-color: black;
}

#fortunato .jumbo_box {
  position: relative;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  background: radial-gradient(100% 100% at bottom, transparent 60%, #131E52 60%);
}
#fortunato .main-menu {
  display: flex;
  justify-content: start;
  padding: 30px;
  position: relative;
}
#fortunato .main-menu .cart {
  position: absolute;
  top: -20px;
  right: 30px;
  width: 300px;
  min-height: 100px;
  background-color: white;
  border: 1px solid black;
}
#fortunato .main-menu section {
  margin-top: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#fortunato .main-menu .chart {
  background-color: white;
  position: absolute;
  top: -20px;
  right: 30px;
  height: calc(100% - 50px);
  width: 400px;
  border: 1px solid black;
}

.checkout {
  height: calc(100vh - 90px);
  display: flex;
}
.checkout section {
  width: 50%;
  border: 1px solid black;
}

#emilio .jumbo {
  border: 1px solid black;
  height: 30vh;
  width: 100%;
  position: relative;
}
#emilio .jumbo img {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}
#emilio .restaurant {
  width: 50%;
  height: 50%;
  bottom: -20%;
  left: 16%;
  background-color: white;
  position: absolute;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#emilio .main-menu {
  margin-top: 100px;
  position: relative;
  width: 100%;
}
#emilio .main-menu .cart {
  width: 25%;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid black;
  float: right;
  position: -webkit-sticky;
  top: 0%;
  position: sticky;
  background-color: white;
  text-align: center;
}
#emilio .main-menu .cart h2 {
  text-align: center;
}
#emilio .main-menu .cart i {
  margin-bottom: 30px;
  font-size: 20px;
}
#emilio .main-menu .cart .order_plate {
  width: 100%;
  text-align: left;
}
#emilio .main-menu .cart .order_plate li {
  display: inline-block;
}
#emilio .main-menu .cart .order_plate .plateName {
  width: 110px;
}
#emilio .main-menu .cart .order_plate .plateCounter {
  width: 60px;
}
#emilio .main-menu .cart .order_plate .platePrice {
  float: right;
}
#emilio .main-menu .plate {
  width: 70%;
  height: 15%;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#emilio .main-menu .plate .photo {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 20px;
}

#andrea .container {
  padding-top: 50px;
  height: 800px;
}
#andrea .container h1 {
  float: left;
}
#andrea .container .container_card {
  display: flex;
  justify-content: space-around;
}
#andrea .container .container_card .card {
  height: 380px;
  width: 260px;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc;
  transition: 0.2s;
  margin-top: 30px;
}
#andrea .container .container_card .card:hover {
  margin-top: 10px;
  transition: 0.2s;
}
#andrea .container .container_card .card .image-box {
  height: 50%;
  width: 100%;
}
#andrea .container .container_card .card .image-box img {
  height: 100%;
  width: 100%;
}

#stephanie .wrapper {
  background-color: #EDF1F4;
  height: calc(100vh - 90px);
}
#stephanie .wrapper .auth-card {
  background-color: #ED4521;
}
