* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Blinker", sans-serif;
}

body {
  background-color: #F3F4F5;
}

.btn_darkBlue {
  background-color: #2045E3;
  color: white;
}
.btn_darkBlue:hover {
  background-color: #0F33CA;
  color: white;
}

a {
  color: #ED4521;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}
ul a {
  text-decoration: none;
}

.orange-link span {
  display: flex;
  align-items: center;
}
.orange-link span i {
  font-size: 30px;
  margin-left: 5px;
}
.orange-link:hover {
  color: #131E52;
}

#navbarDropdown {
  color: #FF6E00;
}

body {
  margin-top: 90px;
}

.back-to-top {
  background-color: #ED4521;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  z-index: 9999;
}
.back-to-top:hover {
  background-color: #f16d50;
}

#leonardo_header nav {
  height: 90px;
  background-color: #131E52;
}
#leonardo_header nav .nav-link {
  color: white;
}
#leonardo_header nav .navbar-brand {
  height: 90px;
}
#leonardo_header nav svg {
  height: 100%;
}
#leonardo_header nav .dropdown-menu-right {
  background-color: #131E52;
}
#leonardo_header nav .dropdown-menu-right a {
  color: #F6D9D3;
}
#leonardo_header nav .dropdown-menu-right a:hover {
  background-color: #ED4521;
}
#leonardo_header .navbar-toggler {
  background-color: #ED4521;
}
@media (max-width: 768px) {
  #leonardo_header nav svg {
    height: calc(100% - 16px);
  }
  #leonardo_header nav .navbar-nav {
    background-color: #131E52;
    text-align: center;
    border-radius: 10px;
  }
  #leonardo_header nav .navbar-light .navbar-nav .nav-link {
    color: white !important;
  }
}
@media all and (max-width: 320px) {
  #leonardo_header nav .navbar-brand svg {
    height: calc(100% - 16px);
  }
}

footer {
  position: relative;
  background-color: #131E52;
}
footer .wawe_one {
  background-color: #F6D9D3;
  width: 100%;
}
footer ul {
  list-style: none;
  text-align: center;
}
footer ul li {
  padding: 10px;
}
footer ul li:first-child {
  font-size: 22px;
  font-weight: 800;
}
footer ul li:first-child a {
  color: #ED4521;
}
footer ul li a {
  color: #F3F4F5;
}
footer ul li i {
  font-size: 22px;
}

@media all and (max-width: 768px) {
  footer {
    font-size: 22px;
  }
  footer ul li:first-child {
    font-size: 26px;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 4s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

#fortunato_loading {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131E52;
}
#fortunato_loading h1 {
  margin-top: 100px;
  color: #ED4521;
  align-self: flex-start;
  -webkit-animation: pulsate 3s ease-out;
          animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0.2;
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes pulsate {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
#fortunato_loading .dot-floating {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #ED4521;
  color: #ED4521;
  -webkit-animation: dotFloating 3s infinite cubic-bezier(0.15, 0.6, 0.9, 0.1);
          animation: dotFloating 3s infinite cubic-bezier(0.15, 0.6, 0.9, 0.1);
}
#fortunato_loading .dot-floating::before, #fortunato_loading .dot-floating::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
#fortunato_loading .dot-floating::before {
  left: -30px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #ED4521;
  color: #ED4521;
  -webkit-animation: dotFloatingBefore 3s infinite ease-in-out;
          animation: dotFloatingBefore 3s infinite ease-in-out;
}
#fortunato_loading .dot-floating::after {
  left: -60px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #ED4521;
  color: #ED4521;
  -webkit-animation: dotFloatingAfter 3s infinite cubic-bezier(0.4, 0, 1, 1);
          animation: dotFloatingAfter 3s infinite cubic-bezier(0.4, 0, 1, 1);
}
@-webkit-keyframes dotFloating {
  0% {
    left: calc(-50% - 5px);
  }
  75% {
    left: calc(50% + 105px);
  }
  100% {
    left: calc(50% + 105px);
  }
}
@keyframes dotFloating {
  0% {
    left: calc(-50% - 5px);
  }
  75% {
    left: calc(50% + 105px);
  }
  100% {
    left: calc(50% + 105px);
  }
}
@-webkit-keyframes dotFloatingBefore {
  0% {
    left: -50px;
  }
  50% {
    left: -30px;
  }
  75% {
    left: -50px;
  }
  100% {
    left: -50px;
  }
}
@keyframes dotFloatingBefore {
  0% {
    left: -50px;
  }
  50% {
    left: -30px;
  }
  75% {
    left: -50px;
  }
  100% {
    left: -50px;
  }
}
@-webkit-keyframes dotFloatingAfter {
  0% {
    left: -100px;
  }
  50% {
    left: -60px;
  }
  75% {
    left: -100px;
  }
  100% {
    left: -100px;
  }
}
@keyframes dotFloatingAfter {
  0% {
    left: -100px;
  }
  50% {
    left: -60px;
  }
  75% {
    left: -100px;
  }
  100% {
    left: -100px;
  }
}

#fortunato .jumbo_box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-color: #ED4521;
  background-image: url(https://freesvg.org/img/FoodAndDrinkDesign.png);
}
#fortunato .jumbo_box .search_bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
  width: 100%;
  height: 100%;
  text-align: center;
}
#fortunato .jumbo_box .search_bar .wrap_card {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
#fortunato .jumbo_box .search_bar .wrap_card .button_category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: none;
  background-color: white;
  border-radius: 30px;
  margin: 2px;
  padding: 10px 25px;
}
#fortunato .jumbo_box .search_bar .wrap_card .button_category img {
  position: absolute;
  top: 13px;
  left: 5px;
}
#fortunato .jumbo_box .search_bar .wrap_card .button_category .fa-medal {
  position: absolute;
  top: 13px;
  left: 5px;
  z-index: 5;
}
#fortunato .jumbo_box .search_bar .wrap_card .button_category .fa-check-square {
  position: absolute;
  top: 13px;
  right: 5px;
  z-index: 5;
}
#fortunato .jumbo_box .search_bar input {
  width: 50%;
  height: 60px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 26px;
  border-width: 5px;
  border-color: #ffffff;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 50px;
  box-shadow: 0px 0px 30px rgba(237, 69, 34, 0.97);
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.99);
  outline: none;
}
#fortunato .jumbo_box .search_bar ul {
  list-style: none;
  display: flex;
}
#fortunato .jumbo_box .search_bar ul li {
  margin: 0 20px;
}
#fortunato .jumbo_box .wave_one {
  width: 100%;
}
#fortunato main {
  background-color: #F6D9D3;
}
#fortunato main .container .jumbo_title {
  text-align: center;
  margin-bottom: 100px;
}
#fortunato main .container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-bottom: 40px;
}
#fortunato main .container section .wrapper_restaurant {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#fortunato main .container section .wrapper_restaurant .card_restaurant {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  align-items: center;
  height: 240px;
  width: 260px;
  background-color: #F3F4F5;
  border-radius: 10px;
  box-shadow: 0 0 3px #ccc;
  transition: 0.2s;
  margin-top: 30px;
}
#fortunato main .container section .wrapper_restaurant .card_restaurant:hover {
  transform: translateY(-1rem);
  transition: 0.2s;
}
#fortunato main .container section .wrapper_restaurant .card_restaurant .slug {
  font-size: 20px;
  max-height: 10%;
}
#fortunato main .container section .wrapper_restaurant .card_restaurant .image_box {
  height: 80%;
  width: 100%;
  position: relative;
}
#fortunato main .container section .wrapper_restaurant .card_restaurant .image_box .fas.fa-medal {
  position: absolute;
  font-size: 30px;
  left: 10px;
  top: 10px;
  color: #ED4521;
}
#fortunato main .container section .wrapper_restaurant .card_restaurant .image_box img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#fortunato main .container section .wrapper_restaurant .not_found {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 400px;
}
#fortunato main .container section .wrapper_restaurant .not_found img {
  height: 200px;
}
#fortunato main .wave {
  background: #F6D9D3;
  height: 100%;
  position: relative;
}
#fortunato main .recruting {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #131E52;
  padding: 100px 50px;
  color: white;
  font-size: 15px;
  background-image: url(https://freesvg.org/img/FoodAndDrinkDesign.png);
  background-repeat: repeat-x;
  background-size: cover;
}
#fortunato main .recruting h2 {
  display: none;
}
#fortunato main .recruting .card_recruting {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 33%;
  padding: 0 20px;
  text-align: center;
}
#fortunato main .recruting .card_recruting h1 {
  margin-top: 20px;
}
#fortunato main .recruting .card_recruting h5 {
  font-size: 1.25rem;
}
#fortunato main .recruting .card_recruting .box {
  position: relative;
  display: flex;
  justify-content: center;
  width: 280px;
  height: 300px;
  background: #ED4521;
  border-radius: 60% 40% 40% 20%/70% 50% 30% 25%;
  margin: 0 50px;
}
#fortunato main .recruting .card_recruting .box .inside-box {
  overflow: hidden;
  border-radius: 60% 40% 30% 20%/70% 50% 40% 25%;
}
#fortunato main .recruting .card_recruting .box .inside-box img {
  position: absolute;
  -o-object-fit: fill;
     object-fit: fill;
  top: 30px;
  left: 30px;
  width: 100%;
  border-radius: 60% 40% 30% 20%/70% 50% 40% 25%;
}
#fortunato main .recruting .card_recruting .box .inside-box h1 {
  font-size: 18px;
  white-space: nowrap;
  color: white;
  background-color: #111A51;
  padding: 10px 20px;
  border-radius: 20px 20px;
}
#fortunato main .recruting .card_recruting .box .inside-box h1:hover {
  font-size: 20px;
}
#fortunato main .recruting .card_recruting .box .inside-box .title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  color: white;
}
@media all and (max-width: 768px) {
  #fortunato .jumbo_box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }
  #fortunato .jumbo_box h1 {
    font-size: 1.25rem;
  }
  #fortunato .jumbo_box h5 {
    font-size: 0.75rem;
  }
  #fortunato .jumbo_box .search_bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #fortunato .jumbo_box .search_bar input {
    width: 50%;
    height: 60px;
    outline: none;
    border-radius: 30px;
    border: none;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
  }
  #fortunato .jumbo_box .search_bar ul {
    list-style: none;
    display: flex;
  }
  #fortunato .jumbo_box .search_bar ul li {
    margin: 0 20px;
  }
  #fortunato .jumbo_box .jumbo_title {
    text-align: center;
    margin-bottom: 100px;
  }
  #fortunato main {
    background-color: #F6D9D3;
  }
  #fortunato main .container section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  #fortunato main .container section .card_restaurant {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    align-items: center;
    height: 240px;
    width: 260px;
    background-color: #F6D9D3;
    border-radius: 10px;
    box-shadow: 0 0 3px #ccc;
    transition: 0.2s;
    margin-top: 30px;
  }
  #fortunato main .container section .card_restaurant:hover {
    margin-top: 5px;
    transition: 0.2s;
  }
  #fortunato main .container section .card_restaurant .slug {
    font-size: 20px;
    max-height: 10%;
  }
  #fortunato main .container section .card_restaurant .image_box {
    height: 80%;
    width: 100%;
    position: relative;
  }
  #fortunato main .container section .card_restaurant .image_box .fas.fa-medal {
    position: absolute;
    font-size: 30px;
    left: 10px;
    top: 10px;
    color: #ED4521;
  }
  #fortunato main .container section .card_restaurant .image_box img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  #fortunato main .container section .not_found {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
  }
  #fortunato main .container section .not_found img {
    height: 200px;
  }
  #fortunato main .recruting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #131E52;
    padding: 100px 0;
    color: white;
    font-size: 15px;
  }
  #fortunato main .recruting .card_recruting {
    height: 50%;
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #fortunato main .recruting .card_recruting h1 {
    margin-top: 30px;
    font-size: 1.25rem;
  }
  #fortunato main .recruting .card_recruting h5 {
    font-size: 0.75rem;
  }
  #fortunato main .recruting .card_recruting .box {
    position: relative;
    width: 200px;
    height: 220px;
    background: #ED4521;
    border-radius: 60% 40% 40% 20%/70% 50% 30% 25%;
    margin: 0 50px;
  }
  #fortunato main .recruting .card_recruting .box .inside-box {
    overflow: hidden;
    border-radius: 60% 40% 30% 20%/70% 50% 40% 25%;
  }
  #fortunato main .recruting .card_recruting .box .inside-box img {
    position: absolute;
    -o-object-fit: fill;
       object-fit: fill;
    top: 30px;
    left: 30px;
    width: 100%;
    border-radius: 60% 40% 30% 20%/70% 50% 40% 25%;
  }
  #fortunato main .recruting .card_recruting .box .inside-box h1 {
    font-size: 18px;
    white-space: nowrap;
    color: white;
    background-color: #111A51;
    padding: 10px 20px;
    border-radius: 20px 20px;
  }
  #fortunato main .recruting .card_recruting .box .inside-box h1:hover {
    font-size: 20px;
  }
  #fortunato main .recruting .card_recruting .box .inside-box .title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    color: white;
  }
}
@media screen and (min-width: 769px) and (max-width: 1139px) {
  #fortunato .jumbo_box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: hidden;
    background-color: #ED4521;
    background-image: url(https://freesvg.org/img/FoodAndDrinkDesign.png);
  }
  #fortunato .jumbo_box .search_bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #fortunato .jumbo_box .search_bar .wrap_card {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  #fortunato .jumbo_box .search_bar input {
    width: 50%;
    height: 60px;
    margin-bottom: 50px;
    padding: 15px;
    font-size: 26px;
    border-width: 5px;
    border-color: #ffffff;
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-radius: 50px;
    box-shadow: 0px 0px 30px rgba(237, 69, 34, 0.97);
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.99);
    outline: none;
  }
  #fortunato .jumbo_box .search_bar ul {
    list-style: none;
    display: flex;
  }
  #fortunato .jumbo_box .search_bar ul li {
    margin: 0 20px;
  }
  #fortunato .jumbo_box .wave_one {
    width: 100%;
  }
  #fortunato main {
    background-color: #F6D9D3;
  }
  #fortunato main .container .jumbo_title {
    text-align: center;
    margin-bottom: 100px;
  }
  #fortunato main .container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-bottom: 40px;
  }
  #fortunato main .container section .wrapper_restaurant {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #fortunato main .container section .wrapper_restaurant .card_restaurant {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    align-items: center;
    height: 240px;
    width: 260px;
    background-color: #F3F4F5;
    border-radius: 10px;
    box-shadow: 0 0 3px #ccc;
    transition: 0.2s;
    margin-top: 30px;
  }
  #fortunato main .container section .wrapper_restaurant .card_restaurant:hover {
    transform: translateY(-1rem);
    transition: 0.2s;
  }
  #fortunato main .container section .wrapper_restaurant .card_restaurant .slug {
    font-size: 20px;
    max-height: 10%;
  }
  #fortunato main .container section .wrapper_restaurant .card_restaurant .image_box {
    height: 80%;
    width: 100%;
    position: relative;
  }
  #fortunato main .container section .wrapper_restaurant .card_restaurant .image_box .fas.fa-medal {
    position: absolute;
    font-size: 30px;
    left: 10px;
    top: 10px;
    color: #ED4521;
  }
  #fortunato main .container section .wrapper_restaurant .card_restaurant .image_box img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  #fortunato main .container section .wrapper_restaurant .not_found {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
  }
  #fortunato main .container section .wrapper_restaurant .not_found img {
    height: 200px;
  }
  #fortunato main .wave {
    background: #F6D9D3;
    height: 100%;
    position: relative;
  }
  #fortunato main .recruting {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #131E52;
    padding: 100px 50px;
    color: white;
    font-size: 15px;
    background-image: url(https://freesvg.org/img/FoodAndDrinkDesign.png);
    background-repeat: repeat-x;
    background-size: cover;
  }
  #fortunato main .recruting h2 {
    display: none;
  }
  #fortunato main .recruting .card_recruting {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 60%;
    margin: 20px;
    padding: 0 20px;
    text-align: center;
  }
  #fortunato main .recruting .card_recruting h1 {
    margin-top: 20px;
  }
  #fortunato main .recruting .card_recruting h5 {
    font-size: 1.25rem;
  }
  #fortunato main .recruting .card_recruting .box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 280px;
    height: 300px;
    background: #ED4521;
    border-radius: 60% 40% 40% 20%/70% 50% 30% 25%;
    margin: 0 50px;
  }
  #fortunato main .recruting .card_recruting .box .inside-box {
    overflow: hidden;
    border-radius: 60% 40% 30% 20%/70% 50% 40% 25%;
  }
  #fortunato main .recruting .card_recruting .box .inside-box img {
    position: absolute;
    -o-object-fit: fill;
       object-fit: fill;
    top: 30px;
    left: 30px;
    width: 100%;
    border-radius: 60% 40% 30% 20%/70% 50% 40% 25%;
  }
  #fortunato main .recruting .card_recruting .box .inside-box h1 {
    font-size: 18px;
    white-space: nowrap;
    color: white;
    background-color: #111A51;
    padding: 10px 20px;
    border-radius: 20px 20px;
  }
  #fortunato main .recruting .card_recruting .box .inside-box h1:hover {
    font-size: 20px;
  }
  #fortunato main .recruting .card_recruting .box .inside-box .title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    color: white;
  }
}

#emilio .checkout {
  width: 100%;
  display: flex;
  min-height: calc(100vh - 90px);
}
#emilio .checkout .checkout_left, #emilio .checkout .checkout_right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#emilio .checkout .checkout_left .checkout_braintree, #emilio .checkout .checkout_right .checkout_braintree {
  width: 80%;
  height: 80%;
  padding: 30px;
  border-radius: 20px;
  background-color: white;
}
#emilio .checkout .checkout_left .cart_checkout, #emilio .checkout .checkout_right .cart_checkout {
  width: 90%;
  height: 90%;
}
#emilio .checkout .checkout_left .cart_checkout .cart, #emilio .checkout .checkout_right .cart_checkout .cart {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  background-color: white;
  overflow-y: auto;
}
#emilio .checkout .checkout_left .cart_checkout .cart h2, #emilio .checkout .checkout_right .cart_checkout .cart h2 {
  font-size: 35px;
}
#emilio .checkout .checkout_left .cart_checkout .cart i, #emilio .checkout .checkout_right .cart_checkout .cart i {
  margin-bottom: 30px;
  font-size: 40px;
}
#emilio .checkout .checkout_left .cart_checkout .cart .order_plate, #emilio .checkout .checkout_right .cart_checkout .cart .order_plate {
  width: 100%;
  text-align: left;
}
#emilio .checkout .checkout_left .cart_checkout .cart .order_plate ul, #emilio .checkout .checkout_right .cart_checkout .cart .order_plate ul {
  display: flex;
  justify-content: space-around;
  line-height: 50px;
  width: 100%;
  height: 50px;
  border-radius: 20px;
}
#emilio .checkout .checkout_left .cart_checkout .cart .order_plate .plateAddRemove #minus_checkout, #emilio .checkout .checkout_left .cart_checkout .cart .order_plate .plateAddRemove #plus_checkout, #emilio .checkout .checkout_right .cart_checkout .cart .order_plate .plateAddRemove #minus_checkout, #emilio .checkout .checkout_right .cart_checkout .cart .order_plate .plateAddRemove #plus_checkout {
  font-size: 25px;
}
#emilio .checkout .checkout_left .cart_checkout .cart .order_plate .plateAddRemove:hover, #emilio .checkout .checkout_right .cart_checkout .cart .order_plate .plateAddRemove:hover {
  cursor: pointer;
}
#emilio .checkout .checkout_left .cart_checkout .cart .order_plate .plateName, #emilio .checkout .checkout_right .cart_checkout .cart .order_plate .plateName {
  font-size: 20px;
  width: 30%;
  text-transform: capitalize;
}
#emilio .checkout .checkout_left .cart_checkout .cart h4, #emilio .checkout .checkout_right .cart_checkout .cart h4 {
  margin-bottom: 20px;
  font-size: 40px;
}
#emilio input {
  text-align: center;
}
#emilio .pay {
  width: 100%;
}
#emilio .amount {
  display: none;
}
@media all and (max-width: 1024px) {
  #emilio .checkout {
    flex-direction: column;
  }
  #emilio .checkout .checkout_left, #emilio .checkout .checkout_right {
    width: 100%;
    display: flex;
    align-items: center;
  }
  #emilio .checkout .checkout_right {
    margin-top: 100px;
  }
  #emilio .checkout .checkout_left .plateCounter {
    width: 20% !important;
  }
  #emilio .checkout .checkout_left .plateName {
    width: 45% !important;
  }
  #emilio .checkout .checkout_left .platePrice {
    width: 21% !important;
  }
  #emilio .pay {
    margin-bottom: 100px;
  }
}
@media all and (max-width: 768px) {
  #emilio .checkout .checkout_left .cart_checkout, #emilio .checkout .checkout_right .cart_checkout {
    width: 100%;
  }
}
@media all and (max-width: 320px) {
  #emilio .plateAddRemove #minus_checkout, #emilio .plateAddRemove #plus_checkout {
    font-size: 20px !important;
  }
  #emilio .plateAddRemove:hover {
    cursor: pointer;
  }
}

.central {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.central .message {
  width: 40%;
  height: 30%;
  border-radius: 20px;
  text-align: center;
  background-color: white;
}
.central body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}
.central .pyro > .before, .central .pyro > .after {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}
.central .pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@-webkit-keyframes bang {
  to {
    box-shadow: -217px 8.3333333333px #ffcc00, -186px 17.3333333333px #a200ff, -38px -298.6666666667px #0095ff, -23px -390.6666666667px #00ff2f, -104px -31.6666666667px #ff1500, 162px -383.6666666667px #ff0091, -234px -71.6666666667px #00ff66, 149px -371.6666666667px #00ffb7, 68px -122.6666666667px #ffd500, 221px 67.3333333333px #ff6a00, 243px -285.6666666667px #48ff00, -84px 19.3333333333px #006fff, 179px -112.6666666667px #ffdd00, 216px 17.3333333333px #2bff00, 185px 13.3333333333px #f7ff00, 244px -373.6666666667px #ff0900, -168px -411.6666666667px #1e00ff, -23px -212.6666666667px #ff3300, -200px -135.6666666667px #00ffb7, 183px 18.3333333333px #00ff66, -1px 47.3333333333px #09ff00, -88px -234.6666666667px #ff5900, -111px -369.6666666667px #33ff00, 24px -56.6666666667px #7700ff, -39px -166.6666666667px #001aff, 102px -177.6666666667px #2fff00, 108px 23.3333333333px #ff00d5, -219px -365.6666666667px #55ff00, -177px -414.6666666667px #b300ff, 71px -95.6666666667px #44ff00, 67px -73.6666666667px #ff0040, 35px -150.6666666667px #ff002b, -139px -280.6666666667px #c800ff, 120px -347.6666666667px #ff00e6, -77px -378.6666666667px #0048ff, 62px -413.6666666667px #ff3300, 119px -407.6666666667px #40ff00, -120px -226.6666666667px #40ff00, 106px -366.6666666667px #bb00ff, 21px 42.3333333333px #00ff11, 209px -2.6666666667px #00fffb, -133px -164.6666666667px #00ff6f, -41px -214.6666666667px #ff0062, 26px -36.6666666667px #aaff00, 192px -36.6666666667px #77ff00, 225px -224.6666666667px #ffee00, -237px -406.6666666667px #ffe600, 25px 57.3333333333px #77ff00, -31px 53.3333333333px #006fff, 185px -118.6666666667px #33ff00, 187px -200.6666666667px #00ff7b, 169px -313.6666666667px #f200ff, -83px -299.6666666667px #ff2b00, 211px -144.6666666667px #ff00dd, 90px -57.6666666667px #2fff00, -164px -153.6666666667px #8c00ff, -7px -69.6666666667px #aa00ff, 116px -362.6666666667px #00ff91, -158px -267.6666666667px #2600ff, 225px -47.6666666667px #00d0ff, 193px -21.6666666667px #00ff84, 203px -234.6666666667px #001aff, -149px -38.6666666667px #95ff00, -208px -93.6666666667px #e1ff00, -188px -200.6666666667px #0026ff, -106px -154.6666666667px #00ffae, -28px -256.6666666667px #ffbb00, -236px -392.6666666667px #00ffaa, 244px -157.6666666667px #3cff00, -106px -335.6666666667px #ff9100, 72px -346.6666666667px #66ff00, -28px -163.6666666667px #8400ff, 166px -211.6666666667px #73ff00, -2px 30.3333333333px #00ff8c, -242px -228.6666666667px #00ffcc, 162px -65.6666666667px #2bff00, -148px 6.3333333333px #00ff59, -200px -332.6666666667px #9500ff, 163px -116.6666666667px #ff5e00, -230px -139.6666666667px #ff9d00, 218px -291.6666666667px #ff00ea, 75px -397.6666666667px #ff9500, 71px 63.3333333333px #ff0062, 207px -142.6666666667px #00ccff, -78px -97.6666666667px #ff007b, 197px -280.6666666667px #33ff00, 167px -338.6666666667px #ff9500, -43px -0.6666666667px #00ddff, -203px -168.6666666667px #ff9900, -26px -57.6666666667px #40ff00, 246px -305.6666666667px #4400ff, 9px -52.6666666667px #ff5900, 20px 32.3333333333px #ffc400, -57px -151.6666666667px #ffd900, 1px -313.6666666667px #0022ff, -182px -175.6666666667px #7300ff, 39px -384.6666666667px #ff2f00, -85px -26.6666666667px #fff200, -75px -13.6666666667px #00ff59, 205px -62.6666666667px #ffb300, -147px -265.6666666667px #bb00ff, -18px 54.3333333333px #00f7ff, -230px -185.6666666667px #0015ff, -15px -81.6666666667px #ff000d, 215px -385.6666666667px #ff3300, -229px -327.6666666667px darkorange, 100px 25.3333333333px #007bff, -92px -253.6666666667px #3300ff, -173px -16.6666666667px #0062ff, 42px -295.6666666667px #9dff00, -61px -219.6666666667px #84ff00, -160px -330.6666666667px #00d9ff, -41px -65.6666666667px #3300ff, 230px -336.6666666667px #00ffe1, -222px -401.6666666667px #0400ff, 100px -155.6666666667px #22ff00, -72px -156.6666666667px #fff700, -175px -307.6666666667px #33ff00, 176px -131.6666666667px #ff1500, 200px -188.6666666667px #00ff1e, -154px -29.6666666667px #ff3c00, -153px -292.6666666667px #ff0015, 85px -44.6666666667px #40ff00, -241px -22.6666666667px #3cff00, 155px -409.6666666667px #dd00ff, -81px -77.6666666667px #00ff1e, 112px -194.6666666667px #00ffc4, -151px -34.6666666667px #ff7700, -151px -145.6666666667px #ff0051, -55px -324.6666666667px #ff0009, 217px -109.6666666667px #00ffaa, -245px -287.6666666667px #0059ff, 11px -6.6666666667px #00ffbb, -46px 50.3333333333px #ff0055, 183px 61.3333333333px #ffbf00, 222px 73.3333333333px #f2ff00, -18px -159.6666666667px #26ff00, -3px -30.6666666667px #7300ff, -105px -220.6666666667px #ff5900, -69px -87.6666666667px #62ff00, -53px -34.6666666667px #00ff7b, 86px -45.6666666667px #ff1100, -188px -279.6666666667px #8800ff, 3px -250.6666666667px #000dff, -133px -215.6666666667px #7b00ff, 33px -75.6666666667px #ff2200, -134px -134.6666666667px #00ff88, 125px -238.6666666667px #ff0048, -12px -44.6666666667px #fb00ff, 71px -59.6666666667px #ff00a6, 10px -248.6666666667px #ff00e1, -69px -94.6666666667px #00ff77, 78px -228.6666666667px #5900ff, -193px -30.6666666667px #00ffe1, -88px 22.3333333333px #00ff5e, -39px -28.6666666667px #ff000d, 72px 41.3333333333px #9dff00, -13px -373.6666666667px #009dff, 117px -93.6666666667px #ff4800, 64px -390.6666666667px #00ffb3, 95px -89.6666666667px #ffbf00, 68px -295.6666666667px #0400ff, -128px -68.6666666667px #ff1500, 182px -385.6666666667px #00ff2b, -56px -248.6666666667px #3300ff, -249px 22.3333333333px #00ffc4, -64px -324.6666666667px #0011ff, 221px 11.3333333333px #7bff00, 241px -402.6666666667px #002bff, 60px -26.6666666667px #ff9500, -82px -385.6666666667px #0084ff, 39px -117.6666666667px #ff0015, 125px -267.6666666667px #00fbff, -79px 66.3333333333px #00e1ff, -18px -244.6666666667px #48ff00, -8px -225.6666666667px #00ff6f, 225px -410.6666666667px #44ff00, 88px -222.6666666667px #15ff00, 146px -48.6666666667px #00ff99, 1px -51.6666666667px #4400ff, -165px 48.3333333333px #6200ff, -22px -60.6666666667px #00ff4d, 26px -388.6666666667px #ff5100, 113px -0.6666666667px #006fff, -18px -169.6666666667px #008cff, 248px -346.6666666667px #9100ff, -112px -286.6666666667px #ff00f2, 120px -270.6666666667px #44ff00, 115px -245.6666666667px #5eff00, 34px -400.6666666667px #a6ff00, -220px -267.6666666667px #eaff00, 204px -83.6666666667px #c800ff, 172px 21.3333333333px #ff0033, -238px -297.6666666667px #ff00b7, -2px -281.6666666667px #9900ff, -77px -21.6666666667px #ff0033, -180px 24.3333333333px #0033ff, 181px -69.6666666667px #2600ff, 104px 31.3333333333px #00d9ff, 88px -14.6666666667px #ff001e, 60px -280.6666666667px #00ffea;
  }
}
@keyframes bang {
  to {
    box-shadow: -217px 8.3333333333px #ffcc00, -186px 17.3333333333px #a200ff, -38px -298.6666666667px #0095ff, -23px -390.6666666667px #00ff2f, -104px -31.6666666667px #ff1500, 162px -383.6666666667px #ff0091, -234px -71.6666666667px #00ff66, 149px -371.6666666667px #00ffb7, 68px -122.6666666667px #ffd500, 221px 67.3333333333px #ff6a00, 243px -285.6666666667px #48ff00, -84px 19.3333333333px #006fff, 179px -112.6666666667px #ffdd00, 216px 17.3333333333px #2bff00, 185px 13.3333333333px #f7ff00, 244px -373.6666666667px #ff0900, -168px -411.6666666667px #1e00ff, -23px -212.6666666667px #ff3300, -200px -135.6666666667px #00ffb7, 183px 18.3333333333px #00ff66, -1px 47.3333333333px #09ff00, -88px -234.6666666667px #ff5900, -111px -369.6666666667px #33ff00, 24px -56.6666666667px #7700ff, -39px -166.6666666667px #001aff, 102px -177.6666666667px #2fff00, 108px 23.3333333333px #ff00d5, -219px -365.6666666667px #55ff00, -177px -414.6666666667px #b300ff, 71px -95.6666666667px #44ff00, 67px -73.6666666667px #ff0040, 35px -150.6666666667px #ff002b, -139px -280.6666666667px #c800ff, 120px -347.6666666667px #ff00e6, -77px -378.6666666667px #0048ff, 62px -413.6666666667px #ff3300, 119px -407.6666666667px #40ff00, -120px -226.6666666667px #40ff00, 106px -366.6666666667px #bb00ff, 21px 42.3333333333px #00ff11, 209px -2.6666666667px #00fffb, -133px -164.6666666667px #00ff6f, -41px -214.6666666667px #ff0062, 26px -36.6666666667px #aaff00, 192px -36.6666666667px #77ff00, 225px -224.6666666667px #ffee00, -237px -406.6666666667px #ffe600, 25px 57.3333333333px #77ff00, -31px 53.3333333333px #006fff, 185px -118.6666666667px #33ff00, 187px -200.6666666667px #00ff7b, 169px -313.6666666667px #f200ff, -83px -299.6666666667px #ff2b00, 211px -144.6666666667px #ff00dd, 90px -57.6666666667px #2fff00, -164px -153.6666666667px #8c00ff, -7px -69.6666666667px #aa00ff, 116px -362.6666666667px #00ff91, -158px -267.6666666667px #2600ff, 225px -47.6666666667px #00d0ff, 193px -21.6666666667px #00ff84, 203px -234.6666666667px #001aff, -149px -38.6666666667px #95ff00, -208px -93.6666666667px #e1ff00, -188px -200.6666666667px #0026ff, -106px -154.6666666667px #00ffae, -28px -256.6666666667px #ffbb00, -236px -392.6666666667px #00ffaa, 244px -157.6666666667px #3cff00, -106px -335.6666666667px #ff9100, 72px -346.6666666667px #66ff00, -28px -163.6666666667px #8400ff, 166px -211.6666666667px #73ff00, -2px 30.3333333333px #00ff8c, -242px -228.6666666667px #00ffcc, 162px -65.6666666667px #2bff00, -148px 6.3333333333px #00ff59, -200px -332.6666666667px #9500ff, 163px -116.6666666667px #ff5e00, -230px -139.6666666667px #ff9d00, 218px -291.6666666667px #ff00ea, 75px -397.6666666667px #ff9500, 71px 63.3333333333px #ff0062, 207px -142.6666666667px #00ccff, -78px -97.6666666667px #ff007b, 197px -280.6666666667px #33ff00, 167px -338.6666666667px #ff9500, -43px -0.6666666667px #00ddff, -203px -168.6666666667px #ff9900, -26px -57.6666666667px #40ff00, 246px -305.6666666667px #4400ff, 9px -52.6666666667px #ff5900, 20px 32.3333333333px #ffc400, -57px -151.6666666667px #ffd900, 1px -313.6666666667px #0022ff, -182px -175.6666666667px #7300ff, 39px -384.6666666667px #ff2f00, -85px -26.6666666667px #fff200, -75px -13.6666666667px #00ff59, 205px -62.6666666667px #ffb300, -147px -265.6666666667px #bb00ff, -18px 54.3333333333px #00f7ff, -230px -185.6666666667px #0015ff, -15px -81.6666666667px #ff000d, 215px -385.6666666667px #ff3300, -229px -327.6666666667px darkorange, 100px 25.3333333333px #007bff, -92px -253.6666666667px #3300ff, -173px -16.6666666667px #0062ff, 42px -295.6666666667px #9dff00, -61px -219.6666666667px #84ff00, -160px -330.6666666667px #00d9ff, -41px -65.6666666667px #3300ff, 230px -336.6666666667px #00ffe1, -222px -401.6666666667px #0400ff, 100px -155.6666666667px #22ff00, -72px -156.6666666667px #fff700, -175px -307.6666666667px #33ff00, 176px -131.6666666667px #ff1500, 200px -188.6666666667px #00ff1e, -154px -29.6666666667px #ff3c00, -153px -292.6666666667px #ff0015, 85px -44.6666666667px #40ff00, -241px -22.6666666667px #3cff00, 155px -409.6666666667px #dd00ff, -81px -77.6666666667px #00ff1e, 112px -194.6666666667px #00ffc4, -151px -34.6666666667px #ff7700, -151px -145.6666666667px #ff0051, -55px -324.6666666667px #ff0009, 217px -109.6666666667px #00ffaa, -245px -287.6666666667px #0059ff, 11px -6.6666666667px #00ffbb, -46px 50.3333333333px #ff0055, 183px 61.3333333333px #ffbf00, 222px 73.3333333333px #f2ff00, -18px -159.6666666667px #26ff00, -3px -30.6666666667px #7300ff, -105px -220.6666666667px #ff5900, -69px -87.6666666667px #62ff00, -53px -34.6666666667px #00ff7b, 86px -45.6666666667px #ff1100, -188px -279.6666666667px #8800ff, 3px -250.6666666667px #000dff, -133px -215.6666666667px #7b00ff, 33px -75.6666666667px #ff2200, -134px -134.6666666667px #00ff88, 125px -238.6666666667px #ff0048, -12px -44.6666666667px #fb00ff, 71px -59.6666666667px #ff00a6, 10px -248.6666666667px #ff00e1, -69px -94.6666666667px #00ff77, 78px -228.6666666667px #5900ff, -193px -30.6666666667px #00ffe1, -88px 22.3333333333px #00ff5e, -39px -28.6666666667px #ff000d, 72px 41.3333333333px #9dff00, -13px -373.6666666667px #009dff, 117px -93.6666666667px #ff4800, 64px -390.6666666667px #00ffb3, 95px -89.6666666667px #ffbf00, 68px -295.6666666667px #0400ff, -128px -68.6666666667px #ff1500, 182px -385.6666666667px #00ff2b, -56px -248.6666666667px #3300ff, -249px 22.3333333333px #00ffc4, -64px -324.6666666667px #0011ff, 221px 11.3333333333px #7bff00, 241px -402.6666666667px #002bff, 60px -26.6666666667px #ff9500, -82px -385.6666666667px #0084ff, 39px -117.6666666667px #ff0015, 125px -267.6666666667px #00fbff, -79px 66.3333333333px #00e1ff, -18px -244.6666666667px #48ff00, -8px -225.6666666667px #00ff6f, 225px -410.6666666667px #44ff00, 88px -222.6666666667px #15ff00, 146px -48.6666666667px #00ff99, 1px -51.6666666667px #4400ff, -165px 48.3333333333px #6200ff, -22px -60.6666666667px #00ff4d, 26px -388.6666666667px #ff5100, 113px -0.6666666667px #006fff, -18px -169.6666666667px #008cff, 248px -346.6666666667px #9100ff, -112px -286.6666666667px #ff00f2, 120px -270.6666666667px #44ff00, 115px -245.6666666667px #5eff00, 34px -400.6666666667px #a6ff00, -220px -267.6666666667px #eaff00, 204px -83.6666666667px #c800ff, 172px 21.3333333333px #ff0033, -238px -297.6666666667px #ff00b7, -2px -281.6666666667px #9900ff, -77px -21.6666666667px #ff0033, -180px 24.3333333333px #0033ff, 181px -69.6666666667px #2600ff, 104px 31.3333333333px #00d9ff, 88px -14.6666666667px #ff001e, 60px -280.6666666667px #00ffea;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

#emilio .container {
  min-height: 500px;
}
#emilio .jumbo {
  height: 50vh;
  width: 100%;
  position: relative;
}
#emilio .jumbo img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
#emilio .restaurant {
  width: 50%;
  height: 35%;
  bottom: -20%;
  left: 10%;
  margin-bottom: 20px;
  position: absolute;
}
#emilio .restaurant h1 {
  font-size: 80px;
}
#emilio .restaurant i {
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-size: 30px;
  color: #D64129;
}
#emilio .main-menu {
  margin-top: 80px;
  position: relative;
  width: 100%;
}
#emilio .main-menu .cart {
  width: 30%;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  float: right;
  margin-right: 100px;
  position: -webkit-sticky;
  top: 10%;
  position: sticky;
  text-align: center;
  z-index: 999;
}
#emilio .main-menu .cart h2 {
  text-align: center;
}
#emilio .main-menu .cart i {
  margin-bottom: 30px;
  font-size: 20px;
}
#emilio .main-menu .cart .order_plate {
  width: 100%;
  text-align: left;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 5px;
  height: 100px;
}
#emilio .main-menu .cart .order_plate li {
  display: inline-block;
}
#emilio .main-menu .cart .order_plate .plateName {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
#emilio .main-menu .cart .order_plate .plateCounter {
  width: 60px;
}
#emilio .main-menu .cart .order_plate .platePrice {
  float: right;
}
#emilio .main-menu .cart .order_plate .plateAddRemove {
  width: 100%;
  height: 20px;
  text-align: center;
}
#emilio .main-menu .cart .order_plate .plateAddRemove #plus, #emilio .main-menu .cart .order_plate .plateAddRemove #minus {
  cursor: pointer;
  color: #D64129;
}
#emilio .main-menu .cart .order_plate .plateAddRemove #plus {
  padding-right: 20px;
}
#emilio .main-menu .cart h4 {
  margin-bottom: 20px;
  font-size: 40px;
}
#emilio .main-menu .cart .to_checkout i {
  font-size: 50px;
  color: black !important;
}
#emilio .main-menu .cart .delete {
  margin-top: 50px;
  cursor: pointer;
  color: #D64129;
}
#emilio .main-menu .plate {
  width: 50%;
  height: 20%;
  padding: 20px;
  margin-left: 160px;
  margin-bottom: 20px;
  border-radius: 20px;
  display: flex;
  transition: transform 0.5s;
  background-color: white;
}
#emilio .main-menu .plate:hover {
  transform: scale(1.1);
}
#emilio .main-menu .plate .plate_photo {
  width: 30%;
  height: 100%;
  border-radius: 5px;
}
#emilio .main-menu .plate .plate_photo img {
  height: 100%;
  border-radius: 5px;
  margin-right: 10px;
}
#emilio .main-menu .plate .plate_utility {
  width: 100%;
  height: 100%;
}
#emilio .main-menu .plate .plate_utility .plate_info {
  width: 100%;
  height: 50%;
}
#emilio .main-menu .plate .plate_utility .plate_info .plate_name {
  float: left;
  font-size: 30px;
}
#emilio .main-menu .plate .plate_utility .plate_info .plate_price {
  float: right;
}
#emilio .main-menu .plate .plate_utility .plate_description {
  width: 100%;
  height: 50%;
  padding: 5px;
  overflow-y: auto;
}
#emilio .main-menu .plate .plate_counter {
  width: 10%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transition: transform 0.2s;
}
#emilio .main-menu .plate .plate_counter .plate_add, #emilio .main-menu .plate .plate_counter .plate_remove {
  font-size: 30px;
  color: #D64129;
}
#emilio .main-menu .plate .plate_counter .plate_remove:hover, #emilio .main-menu .plate .plate_counter .plate_add:hover {
  cursor: pointer;
  transform: scale(1.5);
}
#emilio #trigger_cart_mobile {
  display: none;
}
#emilio #desktopCartNoDesktop {
  display: none;
}
#emilio #text_plate {
  text-align: center;
  font-size: 50px;
  padding: 40px 35px;
}
#emilio .flip_card {
  background-color: transparent;
  perspective: 1000px;
}
#emilio .flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 20px;
}
#emilio .flip_card:hover .flip_card_inner {
  -webkit-transform: rotateX(180deg);
}
#emilio .flip_card_front, #emilio .flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
  border-radius: 20px;
}
#emilio .flip_card_front {
  z-index: 2;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#emilio .flip_card_back {
  -webkit-transform: rotateY(180deg);
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: flex-end;
}
#emilio .flip_card_back .title_description {
  width: 60%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  transform: rotate(180deg);
}
#emilio .flip_card_back .photo_description {
  width: 40%;
  height: 100%;
  transform: rotate(180deg);
}
#emilio .flip_card_back .photo_description img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
#emilio .display_none {
  display: none;
}
@media all and (max-width: 1024px) and (min-width: 768px) {
  #emilio .main-menu .plate {
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
  }
  #emilio .main-menu .cart .order_plate .plateName {
    width: 150px;
  }
}
@media all and (max-width: 768px) {
  #emilio #trigger_cart_mobile {
    display: block;
    font-size: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
  }
  #emilio section {
    width: 100%;
  }
  #emilio .restaurant {
    left: 0%;
    width: 100%;
    height: 200px;
  }
  #emilio .restaurant h1 {
    font-size: 55px;
  }
  #emilio .main-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #emilio .main-menu .cart {
    width: 100%;
    margin-right: 0px;
  }
  #emilio .main-menu .cart .plateAddRemove {
    width: 100%;
    height: 20px;
    text-align: center;
  }
  #emilio .main-menu .cart .plateAddRemove #plus {
    font-size: 30px;
  }
  #emilio .main-menu .cart .plateAddRemove #minus {
    font-size: 30px;
  }
  #emilio .main-menu .plate {
    width: 100%;
    height: 300px;
    padding: 0px;
    margin-left: 0px;
    position: relative;
  }
  #emilio .main-menu .plate:hover {
    transform: unset;
  }
  #emilio .main-menu .plate .plate_photo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 10;
  }
  #emilio .main-menu .plate .plate_photo img {
    width: 100%;
    height: 100%;
  }
  #emilio .main-menu .plate .plate_utility {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    text-align: center;
    z-index: 2;
    padding: 20px;
  }
  #emilio .main-menu .plate .plate_utility .plate_name {
    font-size: 20px !important;
  }
  #emilio .main-menu .plate:active .plate_photo {
    display: none;
  }
  #emilio .main-menu .plate:focus .plate_photo {
    display: none;
  }
  #emilio .main-menu .plate:target .plate_photo {
    display: none;
  }
  #emilio .main-menu .plate .plate_description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
  }
  #emilio .main-menu .plate .plate_counter {
    width: 100%;
    height: 80%;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 2;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
  }
  #emilio .main-menu .plate .plate_counter .plate_add, #emilio .main-menu .plate .plate_counter .plate_remove {
    font-size: 50px;
  }
  #emilio .main-menu .plate .plate_counter .plate_remove:hover, #emilio .main-menu .plate .plate_counter .plate_add:hover {
    cursor: pointer;
    font-size: 50px;
  }
  #emilio #text_plate {
    text-align: center;
  }
  #emilio #mobileCartNoMobile {
    display: none;
  }
}

.login-form {
  padding: 60px 40px 10px 40px;
  background: #ED4521;
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  font-size: 20px;
}
.login-form .form-group img {
  margin: 20px;
}

.wrapper {
  padding-top: 50px;
  padding-bottom: 40px;
}
.wrapper .welcome {
  background-color: #ED4521;
}
.wrapper h1 {
  float: left;
}
.wrapper .fail {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container_card .card {
  position: relative;
  min-height: 380px;
  height: 380px;
  min-width: 260px;
  max-width: 260px;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc;
  transition: 0.5s;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.container_card .card:hover {
  transform: translateY(-1rem);
  transition: 0.5s;
}
.container_card .card .name {
  width: 170px;
  height: 140px;
}
.container_card .card .blue {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 180px;
  border-bottom: 180px solid #131E52;
  border-left: 100px solid transparent;
}
.container_card .card .active {
  position: absolute;
  bottom: -170px;
  right: 10px;
  font-size: 30px;
  color: #ED4521;
}
.container_card .card a {
  height: 50%;
}
.container_card .card a .image-box {
  width: 100%;
  height: 100%;
}
.container_card .card a .image-box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.container_card .card .info_card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  height: 50%;
}
.container_card .card .info_card .name {
  overflow-y: scroll;
}
.container_card .card .info_card .name::-webkit-scrollbar {
  display: none;
}
.container_card .card .info_card .route {
  display: flex;
}
.container_card .card .info_card .route a {
  margin-right: 10px;
}
.container_card .card .info_card .route button {
  border: none;
  color: red;
  background-color: white;
}

.curved-top {
  background-color: trasparent;
  position: relative;
  height: 300px;
}
.curved-top .img-layer {
  display: block;
}
.curved-top .img-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.curved-top .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.curved-top .img-container .img-layover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.curved-top .img-layer-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 0 5px 5px rgba(23, 19, 80, 0.75);
}
.curved-top .title-layer {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 8vw;
  border: 5px solid white;
  padding: 10px 20px;
  border-radius: 10px;
}

.main-content {
  padding: 40px 0;
}
.main-content .info-wrapper {
  position: sticky;
  top: 0;
}
.main-content .info-wrapper .info {
  background-color: white;
  border-left: 4px solid #ED4521;
  border-radius: 0px 40px 40px 0px;
  color: black;
  padding: 20px;
  margin-bottom: 5px;
  transition: all 1s ease-in-out;
}
.main-content .info-wrapper .info:hover {
  margin-left: 15px;
}
.main-content .info-wrapper .tag {
  background-color: #ED4521;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
.main-content .info-wrapper .icon {
  font-size: 20px;
}

@media all and (min-width: 768px) {
  .curved-top {
    height: 600px;
  }
}
.wrap-box {
  height: calc(100vh - 90px);
}
.wrap-box .login-form {
  padding: 60px 40px 10px 40px;
  background: #ED4521;
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}
.wrap-box .login-form h3 {
  position: absolute;
  padding: 20px 40px;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  color: #131E52;
  text-align: center;
  background-color: white;
  border-radius: 79% 21% 80% 20%/26% 85% 15% 74%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.wrap-box .btnForgetPwd {
  color: #fff;
  text-decoration: none;
}
.wrap-box .btnForgetPwd:hover {
  text-decoration: none;
  color: #fff;
}
.wrap-box .small-link {
  text-decoration: none;
  font-size: 12px;
}
