// footer {
//     height: 400px;
//     background-color: black;
// }

// QUI LEONARDO!


footer {
    // width: 100vw;
    position: relative;
    background-color: $brandBlue;
        .wawe_one {
            background-color: $superWhite;
            width: 100%;
        }

    ul {
        list-style: none;
        text-align: center;
        li {
            padding: 10px;
            //hoover
            // &:first-child {
            //     font-size: 22px;
            //     font-weight: 800;
            //     a {
            //         color:$brandOrange;
            //     }
            // }
            a {
                color: $body-bg;
            }
            i {
                font-size: 22px;
            }
        }
    }
    h5 {
        color: $brandOrange;
    }
    p {
        color: $superWhite;
    }
    #bottom_footer {
        background: lighten($brandBlue, 5%);
    }
}


@media all and (max-width: 768px) {
    footer {
        font-size: 22px;
        // ul {
        //     li:first-child {
        //         font-size: 26px;
        //     }
        // }
    }
}

