

#navbarDropdown {
    color:  #FF6E00;
}
body {
    margin-top: 90px;
}
.back-to-top {
    background-color: $brandOrange;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 9999;
    &:hover {
        background-color: lighten($color: $brandOrange, $amount: 10%)
    }
}
#leonardo_header {
    nav {
        height: 90px;
        background-color: $brandBlue;
        .nav-link {
            color: white;
        }
        .navbar-brand {
            height: 90px;

        }
        svg {
        height:100%;
        }
        .dropdown-menu-right {
            background-color: $brandBlue ;
            a {
                color: $superWhite;
                &:hover {
                    background-color: $brandOrange;
                }
            }
        }

    }
    .navbar-toggler {
        background-color: $brandOrange;
    }

    @media (max-width: 768px) {
        nav {
            svg {
                height: calc(100% - 16px);
            }
            .navbar-nav {
                background-color:$brandBlue;
                text-align: center;
                border-radius: 10px;
            }
            .navbar-light .navbar-nav .nav-link {
                color: white!important;
            }
        }
     }
    @media all and (max-width: 320px) {
        nav {
            .navbar-brand {
                svg {
                    height: calc(100% - 16px);
                }
            }

        }
    }
}
