
nav {
    height: 90px;
    background-color: $brandBlue;

    .navbar-brand {

        height: 90px;

        svg {
        height: 100%;
        }
    }


}

// QUI LEONARDO!

#navbarDropdown {
    color:  #FF6E00;
}

