

#navbarDropdown {
    color:  #FF6E00;
}
body {
    margin-top: 90px;
}
.back-to-top {
    background-color: $brandOrange;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 9999;
    &:hover {
        background-color: lighten($color: $brandOrange, $amount: 10%)
    }
}
#leonardo_header {
    display: flex;
    justify-content: space-between;
    position: relative;
    nav {
        height: 90px;
        background-color: $brandBlue;
      

    
        .nav-link {
            color: white;
        }
        .navbar-brand {
            height: 90px;

        }
        svg {
        height:100%;
        }
        .dropdown-menu-right {
            background-color: $brandBlue ;
            a {
                color: $superWhite;
                &:hover {
                    background-color: $brandOrange;
                }
            }
        }

        input {
            position: absolute;
            width: 25%;
            height: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 20px;
            border-color: white;
            background-color: white;
            color: #000000;
            border-style: solid;
            border-radius: 50px;
            outline: none;
        }

    }
    .navbar-toggler {
        background-color: $brandOrange;
    }

    @media screen and (min-width: 769px) and (max-width: 1139px) {
        nav {
            input {
                width: 30%;
                height: 40px;
                text-align: center;
                font-size: 14px;
                margin-left: 10px;
                border-color: white;
                background-color: white;
                color: #000000;
                border-style: solid;
                border-radius: 50px;
                outline: none;
            }
            svg {
                height: calc(100% - 16px);
            }
            .navbar-nav {
                background-color:$brandBlue;
                text-align: center;
                border-radius: 10px;
            }
            .navbar-light .navbar-nav .nav-link {
                color: white!important;
            }
        }
    }


    @media (max-width: 768px) {
        nav {
            input {
                width: 40%;
                height: 40px;
                text-align: center;
                font-size: 14px;
                margin-left: 10px;
                border-color: white;
                background-color: white;
                color: #000000;
                border-style: solid;
                border-radius: 50px;
                outline: none;
            }
            svg {
                height: calc(100% - 16px);
            }
            .navbar-nav {
                background-color:$brandBlue;
                text-align: center;
                border-radius: 10px;
            }
            .navbar-light .navbar-nav .nav-link {
                color: white!important;
            }
        }
     }
    @media all and (max-width: 320px) {
        nav {
            .navbar-brand {
                svg {
                    height: calc(100% - 16px);
                }
            }

        }
    }
}
