#andrea {
    .container {
        padding-top: 50px;
        margin-bottom: 40px;
        h1 {
            float: left;
        }
        .container_card {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .card {
                position: relative;
                min-height: 380px;
                height: 380px;
                min-width: 260px;
                max-width: 260px;
                border-radius: 5px;
                box-shadow: 0 0 3px #ccc;
                transition: 0.5s;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                &:hover {
                    margin-top: 10px;
                    transition: 0.5s;
                }
                .name {
                    width: 180px;
                }
                .orange {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    height: 258px;
                    border-bottom: 200px solid $brandOrange;
                    border-left: 100px solid transparent;
                }
                .active {
                    position: absolute;
                    bottom: -180px;
                    right: 10px;
                    width: 35px;
                    height: 35px;
                }
                a {
                    height: 50%;
                    .image-box {
                        height: 100%;
                        width: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 10px;
                    height: 50%;
                    .route {
                        display: flex;
                        a {
                            margin-right: 10px;
                        }
                        button {
                            border: none;
                            color: red;
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
}   
